* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

// --------COLORS--------
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(243, 100%, 93%);
$greyish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$vdark-blue: hsl(229, 57%, 11%);
$loading-bar-bg: hsl(227.37, 57.58%, 19.41%);
$progress-bar-bg: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));

body {
	font-family: 'Raleway', sans-serif;
}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-image: url(../images/bg-mobile.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.logo-section {
	width: 30em;
	height: 17em;
	padding: 1.5em 0;
	background-color: $dark-blue;
	border-radius: 10px;
	border-top-right-radius: 75px;
	overflow: hidden;

	&__logo {
		padding: 1em 0;
		margin-left: 2em;
	}

	&__icon-boxes {
		position: relative;
		display: flex;
		flex-direction: row;
		padding-bottom: 1.5em;
		margin-left: 1.5em;
		margin-top: 1.5em;
	}

	&__icon-box {
		position: relative;
		width: 40px;
		height: 40px;
		padding: 1em;
		margin: 0.5em;
		margin-left: 1em;
		background-color: $vdark-blue;
		border-radius: 8px;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.bottom-section {
	position: relative;
	width: 30em;
	height: 14em;
	margin-top: 1.5em;
	background-color: $dark-blue;
	border-radius: 10px;
	text-align: center;

	&__text {
		font-weight: 400;
		color: $pale-blue;
		padding: 2em 1em 1em 1em;
		font-size: 1.4rem;

		span {
			font-weight: bold;
		}
	}
	&__loading-bar {
		position: relative;
		height: 1.8em;
		margin: 0 2em;
		background: none;
		background-color: $loading-bar-bg;
		border-radius: 10px;

		&--progress-bar {
			position: absolute;
			top: 50%;
			left: 3px;
			transform: translateY(-50%);
			width: 70%;
			height: 70%;
			background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
			border-radius: 10px;

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 94%;
				transform: translateY(-50%);
				width: 5.5%;
				height: 80%;
				background-color: $white;
				border-radius: 50%;
			}
		}
	}
	&__memory {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0.5em 2em;
		color: $pale-blue;
		font-weight: bold;
	}

	&__free-space {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 17em;
		height: 6em;
		top: 80%;
		left: 50%;
		transform: translateX(-50%);
		text-transform: uppercase;
		font-weight: bold;
		background-color: $white;
		border-radius: 10px;

		span {
			margin: 1em 0.3em;
			font-size: 3.4rem;
		}

		p {
			color: $greyish-blue;
		}

		&::after {
			content: '';
			display: none;
			position: absolute;
			bottom: -20px;
			right: 0;
			width: 20px;
			height: 20px;
			background-image: linear-gradient(to left bottom, $white 50%, $dark-blue 50%);
		}
	}
}

@media (min-width: 756px) {
	.main {
		display: inline-flex;
		flex-direction: row;
		gap: 2em;
		background-image: url(../images/bg-desktop.png);
		background-color: $vdark-blue;
		background-repeat: no-repeat;
		background-position-y: 35em;
		background-size: contain;
	}


	.bottom-section {
		width: 60em;
		margin-top: 3em;
		text-align: left;

		&__text {
			margin: 0 1em;
		}

		&__loading-bar {
			margin: 0 3em;

			&--progress-bar {
				&::after {
					width: 3%;
					left: 96.5%;
				}
			}
		}

		&__free-space {
			top: -25%;
			left: 80%;
			border-bottom-right-radius: 0;

			&::after {
				display: block;
			}
		}
	}
}
